.appLayout {
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
}

.brand {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 40px;
}

.menu {
  flex: 1;
}
